<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div id="main">
    <h1 v-if="!loggeado">
      Ingresa tu Correo y Contraseña
      </h1>
    <form v-if="!loggeado">
      <fieldset>
        <label>Correo</label>
        <div class="inputGroup">
          <input type="text" v-model="correo" placeholder="" />
        </div>
        <hr />
        <label>Password</label>
        <div class="inputGroup">
          <input type="text" v-model="password" placeholder="" />
        </div>
        <hr />
        <button type="button" @click="login">subir</button>
      </fieldset>
    </form>
    
    <h1 v-if="loggeado">
      Tabla de trabajadores
    </h1>
    
    <table border="1" v-if="loggeado">
      <thead>
        <tr>
          <th>Datos Personales</th>
          <th>Datos de Contacto</th>
          <th>Datos de Compañía</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="datos in arregloDisminuido" :key="datos.name">
          <td>{{ datos.name }}</td>
          <td>{{datos.datosContacto}}</td>
          <td>{{datos.datosCompania}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
  <script>
    const { createApp, ref } = Vue;
    
    createApp({
      setup() {
        let correo = ref("theonlyoneddx@gmail.com");
        let password = ref("asd");
        let loggeado = ref(false);
        let arregloDisminuido = ref([]);
        
        return {
          correo,
          password,
          loggeado,
          arregloDisminuido,
        };
      },
      methods: {
        login() {
          fetch("users.json")
          .then((response) => response.json())
          .then((data) => {
            data.forEach((user) => {
              this.arregloDisminuido.push(
              {
                name: user.name + ", " + user.username,
                datosContacto: user.email + ", "+user.phone,
                datosCompania: user.company.name +", " + user.company.catchPhrase + ", " + user.company.bs,
              });
                if (user.email==this.correo){
                if(user.password==this.password){
                  console.log(user.email);
                  console.log(user.password);
                  this.loggeado = true;
                  alert("Bienvenido usuario");
                }else{
                  alert("verifica tus datos");
                }
              }
            });
          });
        },
      },
    }).mount("#main");
  </script>
</body>
</html>
